@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    
}

#navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    
}
#navbarSupportedContent .nav-link{
  color: #181E4B !important;
  font-weight: 500;
  padding: 5px 0;
  margin: 0 15px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}
#navbarSupportedContent .nav-link:hover{
  color: #DF6951 !important;
  border-bottom: 2px solid #DF6951;
}
#navbarSupportedContent .nav-item .active{
  border-bottom: 2px solid #DF6951;
}
#navbar a{
  color: blue !important;
  font-weight: bold;
  
}
.signin-btn {
    background: #fa3f3f;
    color: white;
    border: none;
    padding: 8px 25px;
    border-radius: 5px;
}
.signin-btn:hover{
  background: rgb(247, 210, 210);
}

/* Home Section */
#home{
  padding-top: 60px !important;
  min-height: 80vh;
}
#Category{
  padding-top: 100px !important;
  
}
.subtitle {
   color: #DF6951;
    font-weight: bold; 
    margin-bottom: 20px;
    font-size: 20px;
    font-family: sans-serif;
   }
.main-title { 
  font-size: 60px; 
  font-weight: 800; color: 
  #181E4B; line-height: 1.1;
 }
.description { 
  color: #5E6282; 
  margin: 30px 0; 
}

.btn-grad {
    background: #F1A501;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
}

.play-btn {
    width: 50px; height: 50px;
    border-radius: 50%;
    background: #DF6951;
    color: white;
    border: none;
    box-shadow: 0 10px 20px rgba(223, 105, 81, 0.3);
}

/* Cards Section */
.card { 
  border: none; 
  border-radius: 20px;
  transition: 0.8s; 
}

#Category h2{
  color: rgb(218, 35, 90) !important;
}
.card-body h6{
  color: rgb(66, 41, 175) !important;
}
.card.set1 {
    
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    border: none;
    background: #fff;
    transition: 0.3s;
    border-radius: 20px;
}

.card.set1:hover { 
  box-shadow: 0 20px 40px rgba(0,0,0,0.1); 
}
.card.set1 img { 
  width: 70px; 
  height: 70px;
  object-fit: contain;
  margin-bottom: 20px;
  margin: 0 auto 20px; 
}

.card.set2 {
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    height: 100%;
}
.card.set2 img { 
  height: 250px; 
  object-fit: cover; 
}
.card.set2 p {
   padding: 15px; 
   color: #5E6282; 
   font-weight: 600; 
  }
  #destination h2{
    color: rgb(218, 35, 90) !important;

  }
  #destination h6{
    font-weight: bold;
  }
  
.footer-links ul li:hover {
    color: blue !important;
    cursor: pointer;
    transition: 0.3s; 
}

@media (max-width: 768px) {
  
 
    .main-title { 
      font-size: 35px; 
    }
    #home { 
      text-align: center; 
      padding-top: 60px !important; 
    }
    #Category {
      padding-top: 50px !important;
      padding-bottom: 30px;
    }
    .card.set2 img { 
      height: 150px; 
    }
    .card.set1 h6 { 
      font-size: 14px; 
    }
    .card p { 
      font-size: 10px; 
    }
    .airline-logo { 
      filter: grayscale(1); 
      max-height: 40px;
    }
}

.airline-logo {
  opacity: 0.5; 
  transition: 0.3s; 
}
.airline-logo:hover { 
  opacity: 1; 
}

.footer-links h5 { 
  font-weight: bold; 
  margin-bottom: 20px;
  margin-left: 50px; 
}
.footer-links ul li { 
  color: #5E6282; 
  margin-bottom: 10px; 
  cursor: pointer; 
  margin-left: 50px; 
  
}